<div nz-row nzGutter="10" class="h-100">
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6" nzXl="6"
       class="main-border">
    <nz-layout class="h-100">
      <nz-content>
        <nz-card [nzBordered]="false" nzTitle="用户输入" nzSize="small"
                 class="main-card"
                 [nzBodyStyle]="{flex: '1 1 auto', padding: '10px 0 0'}">
          <textarea nz-input
                    [(ngModel)]="inputMessage"
                    class="h-100 no-resize">
          </textarea>
        </nz-card>
      </nz-content>
      <nz-footer>
        <div nz-row nzJustify="end">
          <button nz-button nzType="primary" (click)="play()">生成语音</button>
        </div>
      </nz-footer>
    </nz-layout>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="18" nzXl="18">
    <nz-card [nzBordered]="false" nzTitle="监控" nzSize="small"
             class="main-card"
             [nzBodyStyle]="{flex: '1 1 auto'}">
      <nz-list nzBordered nzSize="small">
        <nz-list-header>已生成</nz-list-header>
        <nz-list-item *ngFor="let item of audios">
          {{item.time}}: {{item.name}}
        </nz-list-item>
      </nz-list>
    </nz-card>
  </div>
</div>
