<ng-container [formGroup]="config">
  <i>配置Voice Vox Engine的API连接和语音配置</i>
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzFor="config_type">配置类型</nz-form-label>
    <nz-form-control nzMd="6" nzSm="12" nzXs="24">
      <nz-select id="config_type" name="config_type"
                 formControlName="config_type">
        <nz-option [nzValue]="configTypes.HTTP" nzLabel="HTTP"></nz-option>
        <nz-option [nzValue]="configTypes.BINARY" nzLabel="程序包"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <ng-container *ngIf="configType.value === configTypes.HTTP">
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="address">API地址</nz-form-label>
      <nz-form-control nzMd="12" nzXs="24">
        <nz-input-group [nzAddOnBefore]="protocolTemplate">
          <ng-template #protocolTemplate>
            <nz-select id="protocol" name="protocol" formControlName="protocol"
                       class="protocol-select">
              <nz-option nzLabel="http://" nzValue="http"></nz-option>
              <nz-option nzLabel="https://" nzValue="https"></nz-option>
            </nz-select>
          </ng-template>
          <input id="address" name="address" nz-input formControlName="api_addr"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
  <ng-container *ngIf="configType.value === configTypes.BINARY">
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="device">软件类型</nz-form-label>
      <nz-form-control nzMd="6" nzSm="12" nzXs="24">
        <nz-select id="device" name="device"
                   formControlName="device">
          <nz-option nzValue="cpu" nzLabel="CPU"></nz-option>
          <nz-option nzValue="cuda" nzLabel="CUDA"></nz-option>
          <nz-option nzValue="directml" nzLabel="DirectML"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="device.value === 'cpu'">
      <nz-form-label [nzSpan]="24" nzFor="cpu_arch">CPU架构</nz-form-label>
      <nz-form-control nzMd="6" nzSm="12" nzXs="24">
        <nz-select id="cpu_arch" name="cpu_arch"
                   formControlName="cpu_arch">
          <nz-option nzValue="x86" nzLabel="x86"></nz-option>
          <nz-option nzValue="x64" nzLabel="x64"></nz-option>
          <nz-option nzValue="arm64" nzLabel="arm64"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
  <nz-form-item>
    <nz-form-control [nzSpan]="24">
      <button nz-button nzType="default" nzSize="default" (click)="loadSpeakers()">刷新角色</button>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="24">语音角色</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <ng-container *ngIf="!!speakers">
        <div nz-row nzGutter="10" class="speaker-content">
          <div *ngFor="let speaker of speakers" nz-col nzMd="6" nzSm="12" nzXs="24">
            <app-voice-vox-speaker [speaker]="speaker"
                                   [selectedSpeakerUuid]="speakerUuid"
                                   [selectedSpeakerStyleId]="speakerStyleId">
            </app-voice-vox-speaker>
          </div>
        </div>
      </ng-container>
    </nz-form-control>
  </nz-form-item>
</ng-container>
