<form nz-form [formGroup]="voiceEngineConfigForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzFor="selectEngine">引擎类型</nz-form-label>
    <nz-form-control nzMd="6" nzSm="12" nzXs="24">
      <nz-select id="selectEngine" name="selectEngine"
                 formControlName="type">
        <nz-option *ngFor="let type of engineTypeValues"
                   [nzValue]="type"
                   [nzLabel]="type">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-divider nzType="horizontal"></nz-divider>
  <div *ngIf="type.value === engineTypes.VoiceVox">
    <h4>{{type.value}} 配置</h4>
    <ng-container *ngIf="voicevoxEngineInitialized">
      <nz-alert nzType="success" nzMessage="引擎已加载"></nz-alert>
    </ng-container>
    <ng-container *ngIf="!voicevoxEngineInitialized">
      <div nz-row>
        <ng-container *ngIf="voicevoxEngineLoading">
          <div nz-col>
            <ng-template #loadingIconTpl>
              <nz-spin nzSimple></nz-spin>
            </ng-template>
            <ng-template #actionTpl>
              <button type="button" nz-button nzSize="small" (click)="stopLoadingVoicevox()">停止加载</button>
            </ng-template>
            <nz-alert
              nzShowIcon
              nzType="info"
              nzMessage="正在加载引擎"
              [nzAction]="actionTpl"
              [nzIcon]="loadingIconTpl"
            ></nz-alert>
          </div>
        </ng-container>
        <ng-container *ngIf="!voicevoxEngineLoading">
          <div nz-col>
            <ng-template #actionTpl>
              <button type="button" nz-button nzSize="small" (click)="loadVoicevox()">加载</button>
            </ng-template>
            <nz-alert nzType="warning"
                      nzMessage="引擎未加载"
                      [nzAction]="actionTpl"
            ></nz-alert>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <app-voice-vox-engine [config]="config" [initialized]="voicevoxEngineInitialized"></app-voice-vox-engine>
  </div>
</form>
