<form nz-form [formGroup]="voiceEngineConfigForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzFor="selectEngine">引擎类型</nz-form-label>
    <nz-form-control nzMd="6" nzSm="12" nzXs="24">
      <nz-select id="selectEngine" name="selectEngine"
                 formControlName="type">
        <nz-option *ngFor="let type of engineTypeValues"
                   [nzValue]="type"
                   [nzLabel]="type">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-divider nzType="horizontal"></nz-divider>
  <div *ngIf="type.value === engineTypes.VoiceVox">
    <h4>{{type.value}} 配置</h4>
    <app-voice-vox-engine [config]="config"></app-voice-vox-engine>
  </div>
</form>
