<form nz-form>
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzFor="selectEngine">引擎类型</nz-form-label>
    <nz-form-control nzMd="6" nzSm="12" nzXs="24">
      <nz-select id="selectEngine" name="selectEngine"
                 [(ngModel)]="voiceEngineConfig.type">
        <nz-option *ngFor="let type of engineTypeValues"
                   [nzValue]="type"
                   [nzLabel]="type">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-divider nzType="horizontal"></nz-divider>
  <div *ngIf="voiceEngineConfig.type === engineTypes.VoiceVox">
    <h4>{{voiceEngineConfig.type}} 配置</h4>
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="address">API地址</nz-form-label>
      <nz-form-control nzMd="12" nzXs="24">
        <nz-input-group [nzAddOnBefore]="protocolTemplate">
          <ng-template #protocolTemplate>
            <nz-select id="protocol" name="protocol" [ngModel]="voiceVoxEngineConfig.protocol"
                       class="protocol-select">
              <nz-option nzLabel="http://" nzValue="http"></nz-option>
              <nz-option nzLabel="https://" nzValue="https"></nz-option>
            </nz-select>
          </ng-template>
          <input id="address" name="address" nz-input [ngModel]="voiceVoxEngineConfig.apiAddr"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>
